*.log
**/.DS_Store
*-checkpoint.ipynb

zenodo_tools.sqlite

__pycache__
Input
Models
Output

Tutorials/3DModels/test_model.glb
Tutorials/3DModels/*_perspective*
Tutorials/Output
Tutorials/XMLs/mapped_edm.xml
Tutorials/XMLs/mapped_metsmods.xml
Tutorials/sandbox.db
.vscode/launch.json
